[% USE KohaDates %]
<p>
[% log.timestamp | $KohaDates with_hours => 1 %] : <strong>تم تغيير الحالة</strong>
[% IF log.info.status_before %] [% before = log.info.status_before %] [% display_before = log.aliases.$before ? log.aliases.$before.lib : request.capabilities.$before.name %] من &quot;[% display_before | html %]&quot; [% END %] [% after = log.info.status_after %] [% display_after = log.aliases.$after ? log.aliases.$after.lib : request.capabilities.$after.name %] إلى &quot;[% display_after | html %]&quot; </p>
